<!DOCTYPE html>
<html>
<head>
  <title>CmSaas</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'https://js.stripe.com/v2', type: 'text/javascript' %>
  <%= javascript_include_tag 'application' %>
  <%= tag :meta, name:'stripe-key', content: Rails.configuration.stripe[:publishable_key] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top" role="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do%>
          <i class="fa fa-users"></i>
          SaaS 
        <% end -%>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
          <li><%= link_to "aboot", about_path %></li>
          <li><%= link_to "Contact", new_contact_path %></li>
            <% if current_user %>
              <li>
                <%= link_to "Community", users_path %>
              </li>
              <li>
                <% if current_user.profile.nil? %>
                  <%= link_to "create your profile", new_user_profile_path(current_user.id) %>
                <% else %>
                  <%= link_to "Profile", edit_user_profile_path(current_user.id) %>
                  <% end -%>
              </li>
              <li>
                <%= link_to "Account", edit_user_registration_path %>
              </li>
              <li>
                <%= button_to 'sign out', destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn' %>
              </li>
            <% else %>
              <li>
                <%= link_to "log in", new_user_session_path, method: :get, class: 'btn btn-primary navbar-btn' %>
              </li>
              <li>
                <%= link_to 'sign up', new_user_registration_path, method: :get, class: 'btn btn-success navbar-btn' %>
              </li>
            <% end -%>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <% flash.each do |k, v|%>
      <%= content_tag :div, v, class: "alert alert-#{k}"%>
    <% end -%>
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div>
        blah
      </div>
    </div>
  </footer>
</body>
</html>
